// PACKET CREDENTIALS
// Your Packet API Key, grab one from the portal at https://app.packet.net/portal#/api-keys
variable "packet_api_key" {
  default = ""
}

// Your Project ID, you can see it here https://app.packet.net/portal#/projects/list/table
variable "packet_project_id" {
  default = ""
}

// INFRASTRUCTURE
// The geographic location of the server datacenter full list: https://support.packet.com/kb/articles/data-centers
variable "packet_facility" {
  default = "ams1"
}

// The type of server to use, available types: https://www.packet.com/cloud/servers/
variable "node_type"  {
  default = "c1.small.x86"
}

// Number of nodes you want, best to use odd numbers when deploying cf or k8s to keep quorum
variable "node_count" {
  default = "3"
}

// Etcd Discovery URL File location use to store generated etcd discovery url
variable "discovery_url_file" {
  default = "discovery_url.tmp"
}

